#myHeading{
	position: fixed;
	top: 35px;
	left: 580px;

	display: inline-block;
	font-size: 48px;
	color: white;
	text-decoration: underline;
}
#choiceQ{
	position: fixed;
	top: 100px;
	left: 180px;

	display: inline-block;
	font-size: 22px;
}
#cookieMonster{
	height: 100%;
	width: 100%;
	z-index: -1;
}
#myBox{
	position: fixed;
	top: 170px;
	left: 365px;
	height: 410px;
	width: 700px;

	background-color: #ffad33;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 18px;
	opacity: .5;
}
#cookFlav{
	position: fixed;
	top: 196px;
	left: 400px;

	display: inline-block;
	font-size: 35px;
	text-decoration: underline;
}
#qty{
	position: fixed;
	top: 196px;
	left: 650px;

	display: inline-block;
	font-size: 35px;
	text-decoration: underline;
}
#total{
	position: fixed;
	top: 196px;
	left: 820px;

	display: inline-block;
	font-size: 35px;
	text-decoration: underline;
}
/********** Sugar Cookie **********/
#choice1{
	position: fixed;
	top: 240px;

	font-size: 35px;
	color: white;
	margin-left: 430px;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
}
#sugarAmt{
	display: inline-block;
	font-size: 15px;
	text-align: center;
	color: black;
	margin-left: 145px;
	width: 30px;
}
#sugarOrder{
	position: fixed;
	top: 250px;
	left: 910px;

	font-size: 25px;
	color: black;
}
/********** Chocolate Cookie **********/
#choice2{
	position: fixed;
	top: 280px;

	font-size: 35px;
	color: brown;
	margin-left: 430px;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
}
#chocolateAmt{
	display: inline-block;
	font-size: 15px;
	text-align: center;
	color: black;
	margin-left: 85px;
	width: 30px;
}
#chocolateOrder{
	position: fixed;
	top: 290px;
	left: 910px;

	font-size: 25px;
	color: black;
}
/********** Lemon Cookie **********/
#choice3{
	position: fixed;
	top: 320px;

	font-size: 35px;
	color: yellow;
	margin-left: 430px;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
}
#lemonAmt{
	display: inline-block;
	font-size: 15px;
	text-align: center;
	color: black;
	margin-left: 128px;
	width: 30px;
}
#lemonOrder{
	position: fixed;
	top: 330px;
	left: 910px;

	font-size: 25px;
	color: black;
}
/***********************************/
/*        Buttons Styling*/
/***********************************/
#sugarPlusOne{
	position: fixed;
	top: 253px;
	margin-left: 720px;

	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 12px;
	font-size: 14px;
}
#chocolatePlusOne{
	position: fixed;
	top: 293px;
	margin-left: 720px;

	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 12px;
	font-size: 14px;
}
#lemonPlusOne{
	position: fixed;
	top: 333px;
	margin-left: 720px;

	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 12px;
	font-size: 14px;
}
#orderInput{
	position: fixed;
	top: 430px;
	margin-left: 600px;

	display: inline-block;
	font-size: 28px;
}
#clrOrderInput{
	position: fixed;
	top: 500px;
	margin-left: 633px;

	display: inline-block;
	font-size: 28px;
}



